{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}
    {% load product_tags %}

    <h2 style="text-align: center; padding-top: 5px">Your order</h2>
    <div class="order-table">
        <div style="padding-left: 20px">
            {% for product in orders %}
                <ul>
                    <li>Title - {{ product.title }}</li>
                    <li>Price - {{ product.price|currency_price }} hrn</li>
                    <li>Quantity - {{ product.quantity }}</li>
                </ul>
                <hr>

            {% endfor %}
        </div>


        {% if  subtotal%}
            <h3>Subtotal - {{ subtotal|subtotal_currency }} hrn</h3>
        {% else %}
            <h4>Your cart is empty</h4>
        {% endif %}


        <form action="{% url 'product:complete-checkout' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <p>Name</p>
                <input class="form-control" placeholder="Name" type="text" name="name">
                <p>Email</p>
                <input class="form-control" placeholder="Email" type="text" name="email">
                <p>Address</p>
                <input class="form-control" placeholder="Address" type="text" name="address">
                <p>Credit Card</p>
                <input class="form-control" placeholder="Credit Card" type="text" name="card">
                <div class="buy-button">
                    <button type="submit">Complete Order</button>
                </div>
            </div>
        </form>
    <br>
    <a href="{% url 'product:cart' %}"> Back to Cart</a>
    </div>



{% endblock %}