{% extends 'base.html' %}
{% block meta_keywords %}{{ product.meta_keywords }}{% endblock %}
{% block meta_description %}{{ product.meta_description }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block content %}
    {% load product_tags %}
    <p>{{ product.title }}</p>
    <p>{{ product.description }}</p>
    <img src="http://{{ request.get_host }}/media/{{ product.image }}" />
    <p>{{ product.price|currency_price }}</p>

    <form action="{% url 'product:cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="number" name="quantity" min="1" max="20" value="1">

        {% if product.quantity == 0%}
            <button type="button" disabled>Out of stock!</button>
        {% else %}
            <button type="submit">Add to cart!</button>
        {% endif %}
    </form>

    <form action="{% url 'account:add-bookmark' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="user_id" value="{{ request.user.id }}">
        <input type="hidden" name="product_id" value="{{ product.id }}">

        <button type="submit">Add to wishlist</button>

    </form>

   {% if user.is_superuser %}
    <form action="{% url 'product:edit-product' product.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
    {% endif %}


{% endblock %}