{% extends 'base.html' %}
{% block meta_keywords %}{{ product.meta_keywords }}{% endblock %}
{% block meta_description %}{{ product.meta_description }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block content %}
    {% load product_tags %}


    <div class="single-sec">
	 <div class="container">

		 <!-- start content -->
		 <div class="col-md-9 det">
				 <div class="single_left">
					 <div class="flexslider">
                        <img src="http://{{ request.get_host }}/media/{{ product.image }}" />

                     </div>
				 </div>
				  <div class="single-right" style="font-size: 20px">
                      <div style="float: right">
                            {% if user.is_superuser %}
                                <form action="{% url 'product:edit-product' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="bookmark-button">
                                        <button type="submit">Edit</button>
                                    </div>
                                </form>
                            {% endif %}
                      </div>


					 <h3>{{ product.title }}</h3>
					 <div class="id"><h4>ID: {{ product.sku }}</h4></div>
                      <div class="id"><h4>{{ product.description }}</h4></div>



					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
								 <li class="active">hrn {{ product.price|currency_price }}</li>
							 </ul>
                             <form action="{% url 'product:cart' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="number" name="quantity" min="1" max="20" value="1">
                                    <div class="buy-button">
                                        {% if product.quantity == 0%}
                                            <button style="background-color: gray" type="button" disabled>Out of stock!</button>
                                        {% else %}
                                            <button type="submit">Add to cart!</button>
                                        {% endif %}
                                    </div>
                             </form>

                            {% if request.user.is_authenticated %}
                             <form action="{% url 'account:add-bookmark' %}" method="POST">
                                {% csrf_token %}

                                <input type="hidden" name="user_id" value="{{ request.user.id }}">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                 <div class="bookmark-button">
                                    <button type="submit">Add to wishlist</button>
                                </div>
                            </form>
                            {% endif %}
						 </div>
					  </div>
				  </div>
         </div>
	  </div>





























{% endblock %}