{% extends 'base.html' %}
{% block meta_keywords %}{{ product.meta_keywords }}{% endblock %}
{% block meta_description %}{{ product.meta_description }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block content %}
    {% load product_tags %}










    <div class="single-sec">
	 <div class="container">

		 <!-- start content -->
		 <div class="col-md-9 det">
				 <div class="single_left">
					 <div class="flexslider">
                        <img src="http://{{ request.get_host }}/media/{{ product.image }}" />
                     </div>
				 </div>
				  <div class="single-right">
					 <h3>{{ product.title }}</h3>
					 <div class="id"><h4>ID: {{ product.sku }}</h4></div>

					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
								 <li>MRP: <del>Rs 55000</del></li>
								 <li>Sellling Price:</li>
								 <li class="active">hrn {{ product.price|currency_price }}</li>
								 <a href="#">BUY NOW</a>
							 </ul>
						 </div>


					  </div>


				  </div>
         </div>

	  </div>
     </div>




























{% endblock %}