{% extends 'base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}
    {% load product_tags %}

    <h2 style="text-align: center; padding-top: 5px">Your orders</h2>
    <div class="order-table">
    {% for order in orders %}
        <table>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
             {% for item in  order.order_details%}
              <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price |currency_price }}</td>
                <td>{{ item.quantity }}</td>
              </tr>
              {% endfor %}

        </table>
        <h3>Subtotal - {{ order.subtotal|subtotal_currency }}</h3>
        <hr>
    {% endfor %}
    </div>
{% endblock %}